body {
  background-color: #AAC4FF;
  padding: 7% 15%;
}

h1{
  color: white ;
  filter: drop-shadow(2.5px 2.5px 2.5px #4D77FF);
  font-family: 'Cursive', Mali;
  font-size: 4rem;
  text-align: center;
}

h3{
  color: white;
  font-family: 'Cursive', Mali;
  font-size: 1.5rem;
}

img {
  width: 60%;
}

.container{
  width: 60%;
  margin: auto;
  text-align: center;

}

.Player1{
  display: inline-block;
  text-align: center;
  width: 30%;
}

.Player2{
  display: inline-block;
  text-align: center;
  width: 30%;

}

.footer {
  margin-top: 120px;
  text-align: center;
}

.button{
  font-family: 'Cursive', Mali;
  margin: 5% 3% 5% 0;
  position: absolute;
  top: 60%;
  right: 700px;




}
